﻿@{
    Layout = "_EmptyLayout";
}

<div class="lo">
    <input id="name-ticket" type="text" class="form-control" placeholder="Название"
           aria-describedby="basic-addon1" onchange="parse_qrcode();"
           autofocus>
    <div class="container-content">
        <div class="form-group">
            <label for="content-ticket">Содержимое</label>
            <textarea class="form-control" id="content-ticket" rows="3"></textarea>
        </div>
    </div>
    <div class="container-priority">
        <div class="btn-group">
            <button type="button" class="btn btn-default dropdown-toggle"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Приоритет <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li><a id="1" href="#" onclick="">очень низкий</a></li>
                <li><a id="pr-2" href="#">низкий</a></li>
                <li><a id="pr-3" href="#">средний</a></li>
                <li><a id="pr-4" href="#">высокий</a></li>
                <li><a id="pr-5" href="#">очень выский</a></li>
                <li><a id="pr-6" href="#">наивысший</a></li>
            </ul>
        </div>
    </div>
    <div class="container-urgency">
        <div class="btn-group">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" 
                    aria-haspopup="true" aria-expanded="false">
                Срочность <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li><a id="ug-1" href="#">очень низкая</a></li>
                <li><a id="ug-2" href="#">низкая</a></li>
                <li><a id="ug-3" href="#">средняя</a></li>
                <li><a id="ug-4" href="#">высокая</a></li>
                <li><a id="ug-5" href="#">очень высокая</a></li>
                <li><a id="ug-6" href="#">наивысшая</a></li>
            </ul>
        </div>
    </div>
    <div class="container-type">
        <div class="btn-group">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" 
                    aria-expanded="false" value="Типок">
             <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li><a id="1" href="#">инцидент</a></li>
                <li><a id="2" href="#">запрос</a></li>
            </ul>
        </div>
    </div>
</div>
