﻿@{
    ViewData["Title"] = "Главная";
}

<div class="container">
    <container-input>
        <div class="input-group">
            <input id="qrCode" type="text" class="form-control" placeholder="QR code"
                   aria-describedby="basic-addon1" onchange="parse_qrcode();"
                   autofocus>
        </div>
    </container-input>
    <div class="container-table"></div>
    <div class="container-dropdown"></div>
    <div class="container-ticket"></div>
</div>

