﻿@using ASP.NET.CORE.Models.Tables
@model Item


<div class="container-table">
    <table class="table">
        <tr>
            <th>Модель</th>
            <td>@Model.</td>
        </tr>
    </table>
</div>