﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin-top:20px;
    margin-left: 12px;
    margin-right: 50px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

.container-table {
    margin-left:12px;
    margin-right:50px;
    margin-top:20px;
    font-style:italic;
}

.container-dropdown {
    text-align:right;
    margin-right:50px;
}

.container-ticket {
    margin-top: 20px;
    margin-left: 12px;
    margin-right:50px;
}

#name-ticket {
    max-width: 300px;
    min-width: 10px;
}

.container-content {
    margin-top: 15px;
}

.container-type {
    margin-top: 13px;
}

.container-urgency {
    margin-top: 13px;
}
